{% set base = 'hero' %}
<section id="{{ base }}" class="{{ base }} dark">
    <span class="{{ base }}__background">
        <span class="{{ base }}__backgroundImage"></span>
    </span>

    <div class="container">
        <h2 class="{{ base }}__title">

            <span id="heroTypedStrings">
                <span>Knoxville City <br><strong>Hackathon</strong> <br> powered by Cigna</span>
            </span>
            <span id="heroTyped"></span>
        </h2>
        <p class="{{ base }}__description">Join us for a weekend of civic-minded innovation and collaboration downtown
            in our beloved city of Knoxville.</p>
        <p class="{{ base }}__dates">03/02/19 => 03/03/19</p>

        <div class="{{ base }}__cta">
            <h4>Registrations are limited, save your spot!</h4>
            <div class="{{ base }}__buttons">
                <a class="button" href="https://www.eventbrite.com/e/knoxville-city-hackathon-tickets-54773084771" target="_blank">
                    <span>Register Now</span>
                </a>
                <a class="button" href="https://github.com/knxhx/open-data" target="_blank">
                    <span>Civic Challenges and Datasets</span>
                </a>
                <a class="button" href="https://knxhx.devpost.com" target="_blank">
                    <span>Submit Your Project</span>
                </a>
                <a class="button" href="/judging_criteria.pdf" target="_blank">
                    <span>Judging Criteria</span>
                </a>
            </div>
        </div>

        <div class="{{ base }}__slack">
            <a class="button" href="https://join.slack.com/t/knxhx/shared_invite/enQtNTY2NTA4NzUxNDQ3LWE5NjA3NjYwZThiNDFlN2FkMTZkNDYwNjEyOTIyZjk4MGRmNTUyMWFiOWEyYzM0ZGRhYWU4ZWY2N2YxYTcxOGI" target="_blank">
                <div class="icon">
                    <svg role="img">
                        <use xlink:href="#icon-slack-hash"></use>
                    </svg>
                </div>
                <span>Join the Slack Channel</span>
            </a>
        </div>

    </div>
</section>
