{% set base = 'footer' %}
<footer id="{{ base }}" class="{{ base }}">
    <div class="container">
        {#<a href="#wrapper" class="button backToTop">#}
        {#<span>=></span>#}
        {#</a>#}
        <h4>WHERE IS THE EVENT?</h4>
        <p>Knoxville City Hackathon will take place in Pyxl's office in downtown Knoxville:</p>
        <p>625 South Gay Street Suite 310 Knoxville, TN 37902</p>
        <p>You can park in the State Street Garage a couple of blocks away for free.</p>
        <div class="{{ base }}__copyright">
            <p>Made with  by Knoxville City Hackathon</p>
        </div>
    </div>
</footer>