.sponsors {
    text-align: center;
    padding-top: 0em;
    padding-bottom: 1rem;
    background-color: var(--Brand__Light);
}
.container-support {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


.item-support {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 25%;
  margin-left: 50px;
  max-width: 200px;

  @media (max-width: 480px) {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
