.contact {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--Brand__Light);
    & .button {
        display: block;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        @media (--TabletPortraitUp) {
            display: inline-block;
            width: auto;
            margin-right: .5em;
        }
    }
    & .icon {
        fill: var(--Brand__Light)
    }
}
