{% set base = 'partners' %}
{% set partners = [
    {
        title: 'KnoxDevs',
        link: '#'
    },
    {
        title: 'KEC',
        link: '#'
    }
] %}
<section id="{{ base }}" class="{{ base }}">
    <div class="container">
        <header>
        </header>
    </div>
</section>