@custom-media --PhoneOnly (max-width: 375px);

@custom-media --PhoneUp (width >= 375px);

@custom-media --TabletPortraitUp (width >= 576px);

@custom-media --TabletLandscapeUp (width >= 768px);

@custom-media --DesktopUp (width >= 992px);

@custom-media --DesktopLargeUp (width >= 1200px);

@custom-media --DesktopHugeUp (width >= 1800px);