{% set base = 'register' %}
<section id="{{ base }}" class="{{ base }}">
    <div class="container">
        <header>
            <h3 class="{{ base }}__title">Register</h3>
        </header>
        <div class="{{ base }}__content">
            <p>Register online to reserve your place! That way, if we fill up, we don't have to give you a thumbs-down
                after you get here.</p>
            <a href="https://www.eventbrite.com/e/knoxville-city-hackathon-tickets-54773084771" class="button">
                <span>Participant Registration</span>
            </a>
        </div>
    </div>
</section>