{% set base = 'about' %}
<section id="{{ base }}" class="{{ base }}">
    <div class="container">
        <article class="{{ base }}__primary">
            <h3 class="{{ base }}__title ">About</h3>
            <p>Knoxville City Hackathon is coming on March 2nd through 3rd 2019, join us for a weekend of civic-minded
                innovation and collaboration downtown in our beloved city of Knoxville.</p>
            <article>
                <h3>Countdown</h3>
                <p class="countdown">
                    <span id="countdown" class="countdown__numbers"></span>
                </p>
            </article>
        </article>
        <div class="{{ base }}__secondary">
            <article>
                <h4>#Hack on the Scruffy City</h4>
                <p>During 28 caffeine-filled, sleepless hours, members from the Greater Knoxville community will
                    brainstorm, build, break, test, and deploy whatever they can imagine, for the chance to win amazing
                    prizes.</p>

                <p>There will also be plenty of time to interact with professional mentors and engineers, meet
                    recruiters, and listen to great tech talks and tutorials from sponsors.</p>
            </article>
            <article>
                <h4>The Venue</h4>
                <p>Pyxl has a beloved office space right on Gay St., across from the Tennessee Theatre. This weekend, it
                    will be home to over 120 hackers building the technology of tomorrow, some of it with a civic minded
                    focus tackling datasets and challenges here locally.</p>
            </article>
        </div>
    </div>
</section>